.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;

  header {
    margin-bottom: 4px;
    min-width: 100vw;
  }
  section {
    height: 100%;
    padding: 8px;
  }
}
